{% extends "blogalog/base.html" %}

{% block content %}
    {% if entry %}
        <h2 class="sansserif datemargin">{{ entry.title }}</h2>
        <p class="sansserif blogmargin">
            {{ entry.entry|removetags:""|safe }}
        </p>
        <p class="sansserif datemargin" >
            Published on: {{ entry.pub_date }}
        </p>
        {% if perms.blogalog.add_entry %}
            <div class="datemargin sansserif">
            <a href="{% url entry-update entry.pk %}">Edit</a>
            </div>
        {% endif %}
    {% else %}
        <p class=sansserif>Entry not found</p>
    {% endif %}
{% endblock %}
