{% extends "blogalog/base.html" %}

{% block page-id %}blog-entry-detail{% endblock %}

{% block content %}
    <div class="row">
    {% if entry %}
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
        <p>
            {{ entry.entry|removetags:""|safe }}
        </p>
        <p>
            Published on: {{ entry.pub_date }}
        {% if perms.blogalog.add_entry %}
            <a href="{% url entry-update entry.pk %}" class="small radius secondary button">Edit</a>
        {% endif %}
        </p>
    {% else %}
        <p>Entry not found</p>
    {% endif %}
    </div>
{% endblock %}
