
body {background-color:#FFFFFF}
h1 {text-align:left}

.sansserif{font-family:Arial,Helvetica,sans-serif;}
.serif{font-family:"Times New Roman",Times,serif;}

.headermargin{margin-left:140px;}

a {text-decoration:none;color:black}

.blogmargin{margin-right:150px;margin-left:150px;}
.datemargin{margin-right:140px;margin-left:140px;}



